/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Quicksand:300,400,700");
$base-font: "Quicksand", "Helvetica", "sans-serif";
$header-font: "Comfortaa", "Helvetica", "cursive";


// font-family: 'Comfortaa', cursive;
// font-family: 'Quicksand', sans-serif;

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #04677D;

$red: #EE5F5B;
$blue: #04667C;
$yellow: #FEC300;
$orange: #E67E22;
$green: #32B796;
$gray: #8C8C8C;

