.head-general-map h1 {
font-family: "Comfortaa", cursive;
font-size: 30px;
color: #04677D;
}

// .head-general-map p {
//   font-size: 12px;
// }

.gm-style-iw h1 {
font-size: 12px;
}

.gm-style-iw p {
font-size: 10px;
}
