.roll {
  // position: absolute;
  // top: 38%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  font-size: 12px;
  line-height: 40px;
  // font-family: 'Lato', sans-serif;
  color: white;
  height: 30px;
  overflow:hidden;
  margin: 40px 0 170px 0;
}

.rollvisible {
  font-weight:600;
  overflow:hidden;
  height:80px;
  // padding:0 40px;
}


.rollvisible p {
  display:inline;
  float:left;
  margin:0;
}

.rollvisible ul {
  margin-top:0;
  // padding-left:1;
  text-align:left;
  list-style:none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  padding-left: 0;
}

.rollvisible ul li {
  line-height:30px;
  margin:0;
  font-size: 20px;
  text-align: center;
  font-weight:lighter;
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-33%);}
  34%,46% {transform:translateY(-66%);}
  51%,63% {transform:translateY(-33%);}
  68%,80% {transform:translateY(-66%);}
  85%,97% {transform:translateY(-33%);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-33%);}
  34%,46% {transform:translateY(-66%);}
  51%,63% {transform:translateY(-33%);}
  68%,80% {transform:translateY(-66%);}
  85%,97% {transform:translateY(-33%);}
}



.btn-redirect {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: blue;
  width: 200px;
  transition: background 0.3s ease;
}

.btn-redirect:hover {
  opacity: 1;
  background: #00697F;
  text-decoration: none;
  color: white;
}




.wrapper p {
  font-size: 15px;
  text-align:center;

}


.wrapper h1 {
  font-size:23px;
  text-decoration: none;
}

.wrapper h3 {
  color: $gray;
  font-weight:lighter;
  padding: 20px 0;
}

.wrapper {
  text-align:center;
  padding: 20px 0 40px 0;
}

.wrapper-bloomer h3 {
  color: $gray;
  font-weight:lighter;
  padding: 10px 0;
  text-align:center;
}


.wrapper-home {
  .container {
    width: 60%;
    @media screen and (max-width:500px) {
      width:100%;
    }
  }
  h2 {
    text-align: center;
    color:#4A4A4A;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
    padding-top: 60px;
  }
  p {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #4A4A4A;
  }
  .bold-blue {
    color:#04677D;
    font-weight: bold;
    font-size: 14px;
  }
}

.yellow-underline {
  border-bottom: 2px solid #FABF01;
  width: 60%;
  margin: auto;
  @media screen and (max-width:800px) {
    width:80%;
  }
}

.icon-step {
  margin-bottom: 20px;
  height:80px;
}

.text-center {
  text-align: center;
}
