.wrapper {
  background-color: #FAFAFA;
}

.wrapper-page-new-bloom {
  padding:40px;
  background-color: #FAFAFA;
}

// COLONNE avec la bar de progression

.new-bloomer-left {
  width: 15%;
  margin:0px;
  padding:0 40px 0 0;
  text-align:center;
  background-color: #FAFAFA;
}

.new-bloomer-left h1 {
  font-family: 'Comfortaa', cursive;
  font-weight: lighter;
  font-size: 22px;
  color: #04677D;
  margin:0 0 15px 0;
  padding:0;
}

.step p {
  font-family: 'Quicksand', sans-serif;
  font-weight: regular;
  font-size: 14px;
  color: #8C8C8C;
  margin:0;
  padding:0;
  justify-content: center;
}

.step p span {
  font-size: 10px;
}

.steps {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.line-box {
  justify-content:center;
  margin:5px 0 5px 0;
}

.grey-line {
  height:40px;
  width:1px;
  border: 1px solid rgba(151,151,151,0.50);
}

// .step { 
//   flex: 0 0 33%;
// }

.circle.active {
  background-color: #04667C;
  box-shadow: 0px 0px 0px 5px rgba(4,103,125,0.20);
}

.circle {
  background-color: #FEC300;
  box-shadow: 0px 0px 0px 5px rgba(254,195,0,0.20);
  margin:12px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.new-bloom-wrapper hr {
  height:30px;
  border: 0.5px solid rgba(151,151,151,0.50);
  margin:5px;
  padding:0;
}

.tab-new-bloomer {
  padding:0px;
  justify-content:center;
  margin:0px
}

// COLONNE 2 - CONTENU DE LA FORM

.new-bloomer-right {
  width: 85%;
  margin:0px;
  padding:40px;
  text-align:center;
  background-color: white;
  border-radius:6px;
}



// //

// .wrapper-new-bloomer body {
//   font-family: 'Muli', sans-serif;
// }

// .wrapper-new-bloomer h1, h2 {
//   font-family: 'Comfortaa', cursive;
// }

// .wrapper-new-bloomer p {
//   font-family: 'Muli', sans-serif;
// }

// .wrapper-new-bloomer h3 {
//   font-family: 'Quicksand', sans-serif;
//   font-size: 20px;
//   color: #8C8C8C;
//   text-align:center;
//   margin-bottom: 30px;
// }
// //
