
.box-candidature{
  border: 1px solid ;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
}

.box-candidature h3 {
  text-decoration: underline;
}


.text-center-candidature{
  text-align: center;
  margin: 20px;
  // text-decoration: underline;
  // text-decoration-color: #FEC32B;
}

