// /* PAGE BLOOMER */

.wrapper-show-bloomer {
  background-color: #FAFAFA;
  padding-top:20px;
}

.wrapper-show-bloomer body {
  font-family: 'Muli', sans-serif;
}

.wrapper-show-bloomer h1, h2 {
  font-family: 'Comfortaa', cursive;
}

.wrapper-show-bloomer p {
  font-family: 'Muli', sans-serif;
}

.wrapper-show-bloomer h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: #8C8C8C;
  text-align:center;
  margin-bottom: 30px;
}

// /* CONTAINER  */

.wrapper-show-bloomer .container {
  width:86%;
}

.wrapper-show-bloomer .container-second {
  background-color:white;
  margin: 0 auto;
  margin-top:20px;
  width: 100%;
  height:240px;
}

/* BANNER IMAGE */
.banner-bloomer {
  width:100%;
  height:400px;
}

/* TITLE */
.wrapper-show-bloomer .title {
  justify-content: center;
}

.wrapper-show-bloomer .title i:hover {
  color:#04667C;
  opacity:0.6;
  cursor:pointer;
}

.wrapper-show-bloomer .title h1 {
  font-family: Quicksand-Bold;
  font-size: 36px;
  color: #04677D;
  padding-bottom:10px;
  padding-top:10px;
}

.wrapper-show-bloomer .title h4 {
  text-align: right;
  font-family: 'Quicksand', sans-serif;
  color: #FEC300;
  font-size:20px;
  margin:0;
  margin-top:20px;
  margin-bottom:14px;
  letter-spacing: 5px;
}

.wrapper-show-bloomer .title h3 {
  font-family:'Muli', sans-serif;
  margin: 0px;
  text-align: right;
  font-size:14px;
  color: #8C8C8C ;
}

.wrapper-show-bloomer .title a {
  color: #8C8C8C
}

.wrapper-show-bloomer .title a:hover {
  text-decoration: none;
  color: #04667C;
}

// /* SUBTITLE JS */

.wrapper-show-bloomer .sub-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 26px;
  color: #04677D;
  text-align:left;
  margin-right:30px;
  font-weight: lighter;
  cursor: pointer;
}

.wrapper-show-bloomer .sub-title.active {
  border-bottom : 2px solid #FEC300;
  font-weight:bolder;
}

.wrapper-show-bloomer .sub-title:hover {
  text-decoration:none;
  color:#04667C;
  font-weight:bolder;
}

// /* PROGRAM TITLE JS */

.wrapper-show-bloomer .program-titles {
  margin-left:85px;
}

.wrapper-show-bloomer .program-titles a {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  color: #FEC300;
  text-align:left;
  margin-right:30px;
  font-weight: lighter;
  cursor: pointer;
}
.wrapper-show-bloomer .program-titles h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  color: #FEC300;
  text-align:left;
  margin-right:5px;
  font-weight: lighter;
  cursor: pointer;
}

.wrapper-show-bloomer .program-title.active {
  font-weight:bolder;
}

.wrapper-show-bloomer .program-title:hover {
  text-decoration:none;
  font-weight:bolder;
}

// /* ROW 1 - MAIN INFO  */

.row-main-info {
  height:120px;
  display:flex;
  align-items:center;
  justify-content:center;
}


.div-main-info {
  text-align: center;
}

.div-main-info h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #04677D;
  margin-top: 10px;
}

.div-main-info h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  color: #8C8C8C;
  margin-bottom:10px;
}
.div-description {
  font-size: 14px;
  color: #8C8C8C;
  font-family: 'Muli', sans-serif;
  font-weight:lighter;
  padding:20px;
}


.row-third{
  height:120px;
  display:flex;
  align-items:center;
  justify-content:center;
}


.card-team {
  text-align: left;
  margin-top:20px;
  margin-bottom:20px;
  position: relative;
  display:flex;
  text-align:center;
  justify-content: center;
}

.card-team h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  font-size: 18px;
  color: #04677D;
  margin: 0px;
  text-align: left;
}


.card-team h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 10px;
  color: rgba(0,0,0,0.59);
  margin-top: 5px;
  margin-bottom:0px;
  text-align: left;
}

.card-team h4 {
  font-family: 'Quicksand', sans-serif;
  color: #FEC300;
  font-size:12px;
  text-align: left;
  margin-top: 5px;
  margin-bottom:0px;
}

#flex-center {
  display:flex;
  align-items:center;
  justify-content:center;
}

.avatar {
  width:60px;
  height:60px;
  border-radius: 50%;
  // /*border: 1.5px solid #04677D;*/
}

.div-event {
  font-size: 14px;
  color: #8C8C8C;
  font-family: 'Muli', sans-serif;
  font-weight:lighter;
}

.photo-event {
   height:240px;

}

// /* ROW 2 - STARTUPS */

.div-content-white {
  font-size: 14px;
  color: #8C8C8C;
  font-family: 'Muli', sans-serif;
  font-weight:lighter;
  display:flex;
/*  align-items:center;
*//*  justify-content:center;
*/  background-color: white;
  flex-wrap:wrap;
  min-height:240px;
  padding:20px;
}

.div-startups-card {
  flex: 0 0 50%;
  width:50%;
  padding:20px;
  align-items: center;
  justify-content: center;
}

.div-startups-card h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  font-size: 18px;
  color: #04677D;
  margin: 0px;
  text-align: left;
}


.div-startups-card h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 10px;
  color: rgba(0,0,0,0.59);
  margin-top: 5px;
  margin-bottom:0px;
  text-align: left;
}

.div-startups-card h4 {
  font-family: 'Quicksand', sans-serif;
  color: #FEC300;
  font-size:12px;
  text-align: left;
  margin-top: 5px;
  margin-bottom:0px;
}

// /* VIDEO */

.big-video {
  max-width: 100%;
  height: auto;
  padding: 16px;
}

.small-videos {
  margin:0;
  padding-right:0px;
  padding-left:0px;
  padding-bottom:20px;
  padding-top:20px;
}

.small-video {
  max-width: 100%;
  height: auto;
  padding-right:20px;
  padding-bottom:6px;
}


/* TIMELINE */

.timeline {
  margin:20px 0 0 0;
  height:100px;
}

.text-step-timeline {
  margin:16px;
  line-height: 14px
}

.date-step-timeline {
  font-size: 8px;
  color: rgba(0,0,0,0.59);
  margin-bottom: 0px
}

.name-step-timeline {
  font-size: 10px;
color: #04677D;
}

.wizard-h {
    color: #b8b8b8;
    margin-bottom: 0;
    padding: 0;
    position: relative;
}
.wizard-h::before {
    background: #04677D none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 3px;
    left: 8%;
    position: absolute;
    top: 15px;
    width: 83%;
}
.l-wizard-h-step {
    float: left;
    width: 33%;
}
.wizard-h .wizard-h__step, .wizard-h .wizard-h__step--previous, .wizard-h .wizard-h__step--current {
    display: inline-block;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 0px;
    position: relative;
}
.wizard-h .wizard-h__step--previous {
    color: #4d4d4d;
}
.wizard-h .wizard-h__step, .wizard-h .wizard-h__step--previous, .wizard-h .wizard-h__step--current {
    display: inline-block;
    height: auto;
    margin-bottom: 0;
    text-align: center;
}
.wizard-h .wizard-h__step .fa, .wizard-h .wizard-h__step--previous .fa, .wizard-h .wizard-h__step--current .fa {
    background: #FEC300 none repeat scroll 0 0;
    border: 2px solid #04677D;
    border-radius: 50%;
    display: block;
    font-size: 12px;
    color:white;
    height: 30px;
    left: 40%;
    line-height: 28px;
    position: relative;
    width: 30px;
    text-align: center;
    margin-bottom: 0px;
}
.wizard-h .wizard-h__step--previous .fa {
    background: #04677D none repeat scroll 0 0;
    border: 2px solid #04677D;
    border-radius:50%;
    text-align: center;
}
.wizard-h .wizard-h__step--current {
    color: #3890bd;
    font-weight: 700;
}
.wizard-h .wizard-h__step span, .wizard-h .wizard-h__step--previous span, .wizard-h .wizard-h__step--current span {
    display: inline-block;
}

.btn-postulate {
  text-align: center;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #04677D;
  transition: background 0.3s ease;
  width: 100%;
}

.btn-postulate:hover {
  opacity: 1;
  background: #FEC300;
  text-decoration: none;
  color: white;
}

// /* PAGE ENTREPRENEURS - ACCOMPAGNEMENTS */
.plain-text {
  margin-top:2px;
  margin-bottom:2px;
  font-size:14px;
  font-weight: bolder;
}

// /* R EVIEWS BLOOMER */
.reviews-bloomer-small-card {
  width:100%;
  display:flex;
  padding-bottom:10px;
}

.reviews-bloomer-small-card h2 {
  font-size: 18px;
  color: #04677D;
  padding:0px;
  margin:0px;
  padding-bottom:2px;
  padding-top:7px;
}

.reviews-bloomer-small-card p {
  font-size: 10px;
  color: rgba(0,0,0,0.59);
  margin:0px;
  padding:0px;
}

.reviews-bloomer-small-card h4 {
  font-size:8px;
  font-weight:bolder;
  margin:0px;
  padding:0px;
  color: rgba(0,0,0,0.59);
  text-align:right;
}

.logo-startup-review {
  width:60px;
  height:70px;
  justify-content: center;
  align-items:center;
  padding:0px;
  margin-right:10px;
}

.text-startup-reviews {
  flex: 1 0 auto;
  height:70px;
  align-items: center;
}
