.wrapper-show-candidature {
  background-color: #FAFAFA;
  padding:20px 0 40px 0;
}

.box-candidature {
  padding: 10px;
  margin: 10px;
  border-radius: 2px;
  background-color: #FFFFFF;
}

.box-candidature h3 {
  // text-decoration: underline;
  font-size: 17px;
  color: #746A5D;
}

.box-candidature h4 {
  font-size: 13px;
}

.title-candidature {
  width: 100%;

  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  padding-bottom: 25px;
  // padding-bottom: 25px;
  border-bottom: 2px solid #FEC300;
  justify-content: center;
}


