<div class="container">
  <div class="row">
    <div class="col-sm-4">

        <% @candidatures.each do |candidature| %>



        <%= candidature.team %>
        <% end %>


    </div>
  </div>
</div>
