<div class="dashboard-apply-card">
  <div class="col-xs-2" style="margin:0;padding:0;height:50px">
    <% if candidature.startup.logo? %>
    <%= cl_image_tag candidature.startup.logo.path, class:"candidature-avatar" %>
    <% end %>
  </div>
  <div class="col-xs-10">
    <h2>Startup : <%= candidature.startup.name %></h2>
    <h3> > Programme : <%= candidature.program.name%></h3>
     </div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal-candidatures" style="height:30px;width:100%; text-align:center;justify-content:center; text-transform:uppercase; font-family:'Muli'">Détails</button>
     <%= render "shared/showcandidatures", candidature: candidature %>
    <%# end %>

</div>
