<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Prendre rendez-vous avec <%= @candidature.startup.name %></h4>
      </div>
      <div class="modal-body">
        <div style="overflow:hidden;">
          <div class="form-group">
            <div class="row">
              <div class="col-md-8">
                <%= simple_form_for [@candidature, @booking] do |f| %>
                <%= f.input :start_date, as: :string, input_html: {class: "datetimepicker12"}%>
                <%= f.submit %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Valider RDV</button>
      </div>
    </div>
  </div>
</div>
