<div class="footer-items">
  <div class="row">
    <div class="col-md-6">
      <%= link_to root_path, class: "footer-bloomer-brand" do %>
      <%= image_tag "logo.png" %>
      <% end %>
    </div>

      <div class="col-md-2">
        <div class="section-footer">
         <h1> L'ÉQUIPE </h1>
         <p> Qui sommes-nous ? </p>
         <p> Contact </p>
       </div>

     </div>
     <div class="col-md-2">
       <div class="section-footer">
       <h1> L'EXPLORATION </h1>
      <p> Notre Méthodologie </p>
      <p> Notre parcours </p>
      </div>
    </div>

    <div class="col-md-2">
      <div class="section-footer">
        <br><br>
        <a href="https://twitter.com/bloomersfrance" class="share-link bg-twitter">
          <i class="fa fa-twitter" style="color:#FFC400"></i>
        </a>
        <a href="http://bloomers.fr/" class="share-link bg-email">
          <i class="fa fa-envelope-o" style="color:#FFC400"></i>
        </a>
      </div>
    </div>
  </div>
</div>


