

<div class="yellow-underline" style="padding-top:40px; width:98% !important; border-bottom: 1px solid #FABF01">   </div>

<footer>

<div class="left-footer">
    <span class="logo-footer">B</span>
    <%= link_to "L'exploration", bloomers_path  %>
    <%= link_to "L'équipe", bloomers_path  %>
    <%= link_to "Contact", bloomers_path  %>
</div>
<div class="center-footer">
  <a href="https://twitter.com/BloomersFrance" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  <a href="mailto:contact@bloomers.fr" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
</div>
<div>
  <span> Made with <i class="fa fa-heart" aria-hidden="true"></i> in Écully Beach by Alizée et Anna </span>
</div>
</footer>
