<footer>

<div class="left-footer">
    <%= link_to "L'exploration", bloomers_path  %>
    <%= link_to "L'équipe", bloomers_path  %>
    <%= link_to "Contact", bloomers_path  %>
</div>
<div class="center-footer">
  <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
  <a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
</div>
<div>
  <span> Made with <i class="fa fa-heart" aria-hidden="true"></i> in Écully Beach by Alizée et Anna </span>
</div>
</footer>
