<div class="footer-wrapper">
  <div class="row">
      <div class="logo-container">
        <%= link_to root_path, class: "footer-wrapper" do %>
         <%= image_tag "logo.png", :style => 'width:15%' %>
        <% end %>
      </div>

      <div class="main-col-footer">
        <p> CONTACT </p>
      </div>

       <div class="main-col-footer">
        <p> L'EXPLORATION </p>
      </div>

      <div class="social-col-footer">
        <div class="share-links">
          <a href="#" class="share-link bg-twitter">
            <i class="fa fa-twitter" style="color:#FFC400"></i>
          </a>
          <a href="#" class="share-link bg-email">
            <i class="fa fa-envelope-o" style="color:#FFC400"></i>
          </a>
        </div>
      </div>
  </div>
</div>
