<!-- La bannière -->


<div class="banner">
  <div class="banner-content">
    <h1>
      <span style="padding:0 20px 20px 20px;border-bottom:3px solid #FABF01">
        BLOOMERS
      </span>
    </h1>
    <!-- <div class="trait"> </div> -->
    <div class="roll">
      <div class="rollvisible">
        <ul>
          <li> ta startup mérite le meilleur</li>
          <li> trouve le meilleur accompagnement</li>
          <li>  incubateur, accélérateur, co-working</li>
        </ul>
      </div>
    </div>
    <div class="row" style="margin:0px">
      <%= link_to bloomers_path, style:"color:white" do %>
      <div class="col-xs-6">
      <div class="btn-home">
        <div class="row" style="padding-bottom:20px">
          <%= image_tag "rocket.png", class:"icon-home" %>
        </div>
        Je suis une startup
        </div>
      </div>
      <% end %>

      <%= link_to bloomers_path, style:"color:white" do %>
      <div class="col-xs-6">
        <div class="btn-home">
          <div class="row" style="padding-bottom:20px">
            <%= image_tag "target.png", class:"icon-home"%>
          </div>
          J'accompagne des startups
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="wrapper-home">
  <div class="container">
    <div class="row">
      <h2> Comment ça marche ?  </h2>
      <div class="yellow-underline">   </div>
    </div>
    <div class="row" style="padding-top:55px">
      <div class="col-xs-4">
        <p><span class="bold-blue">1. </span>J'explore les programmes d'accompagnement</p>
      </div>
      <div class="col-xs-4">
        <p><span class="bold-blue">2. </span>Je crée mon profil startup</p>
      </div>
      <div class="col-xs-4">
        <p><span class="bold-blue">3. </span>Je postule aux programmes</p>
      </div>
    </div>
  </div>
</div>
