<!-- La bannière -->
<div class="banner">
  <div class="banner-content">
    <h1>B L O O M E R S</h1>
    <p>Votre startup mérite le meilleur</p>
    <a class="btn btn-primary btn-lg">Je trouve mon bloomer</a>
  </div>
</div>

<!-- Exemple de Bloomers -->
<div class="wrapper home" style="background-color: #FFFFFF;">
  <h3>Partez à la recherche de votre incubateur</h3> <br>
  <div class="row">

    <!-- card -->
      <div class="grid">
       <figure class="effect-zoe" style="background-color:#00697F; background-repeat:no-repeat; background-position:center center;">
         <div class="test"> <h3>LA <span> MUTINERIE</span></h3> </div>
         <figcaption>
          <div class="row more-details">
            <div class="col-xs-6" id="category">
              <p> Co-Working </p>
            </div>
            <div class="col-xs-6" id="location">
              <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Paris </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <h2> Mode Retail </h2>
            </div>
            <div class="col-xs-6">
             <p class="icon-links">
              <a href="#"><span class="icon-heart"></span></a>
              <a href="#"><span class="icon-eye"></span></a>
              <a href="#"><span class="icon-paper-clip"></span></a>
            </p>
          </div>
        </div>
      </figcaption>
    </figure>
           <figure class="effect-zoe" style="background-color:#00697F; background-repeat:no-repeat; background-position:center center;">
         <div class="test"> <h3>LA <span> MUTINERIE</span></h3> </div>
         <figcaption>
          <div class="row more-details">
            <div class="col-xs-6" id="category">
              <p> Co-Working </p>
            </div>
            <div class="col-xs-6" id="location">
              <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Paris </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <p> Mode Retail </p>
            </div>
            <div class="col-xs-6">
             <p class="icon-links">
              <a href="#"><span class="icon-heart"></span></a>
              <a href="#"><span class="icon-eye"></span></a>
              <a href="#"><span class="icon-paper-clip"></span></a>
            </p>
          </div>
        </div>
      </figcaption>
    </figure>
           <figure class="effect-zoe" style="background-color:#00697F; background-repeat:no-repeat; background-position:center center;">
         <div class="test"> <h3>LA <span> MUTINERIE</span></h3> </div>
         <figcaption>
          <div class="row more-details">
            <div class="col-xs-6" id="category">
              <p> Co-Working </p>
            </div>
            <div class="col-xs-6" id="location">
              <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Paris </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <h2> Mode Retail </h2>
            </div>
            <div class="col-xs-6">
             <p class="icon-links">
              <a href="#"><span class="icon-heart"></span></a>
              <a href="#"><span class="icon-eye"></span></a>
              <a href="#"><span class="icon-paper-clip"></span></a>
            </p>
          </div>
        </div>
      </figcaption>
    </figure>
  </div>


</div>
</div>

<!-- Pourquoi Bloomer -->
<div class="wrapper" style="background-color:#CCCCCC;">
  <div class="cards-container id="methodo"">
    <div class="col-xs-12 col-sm-4">
      <div class="share-links">
        <a href="#" class="share-link bg-facebook">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#" class="share-link bg-twitter">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#" class="share-link bg-email">
          <i class="fa fa-envelope-o"></i>
        </a>
      </div>
    </div>

<!--
    <div class="row">
      <h1>Notre méthodologie</h1> <br>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-color:#384259">
          <p> Explorer </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-color:#384259">
          <p> Partager </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-color:#384259">
          <p> Conseiller </p>
        </div>
      </div> -->

    </div>
  </div>
</div>

<!-- Bloomer Actualité -->
<div class="wrapper" style="background-color: #FFFFFF;">
  <div class="cards-container" id="methodo">
    <div class="row">
      <h1>Breaking News</h1> <br>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('app/assets/images/2.jpg');">
          <p> Trop d'incubés ? </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('app/assets/images/3.jpg');">
          <p> Guide de l'incubation </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('app/assets/images/4.jpg');">
          <p> Incubateur : comment s'y retrouver ? </p>
        </div>
      </div>
    </div>
  </div>
</div>
