<!-- La bannière -->
<div class="banner">
  <div class="banner-content">
    <h1>B L O O M E R S</h1>
    <p>Votre startup mérite le meilleur</p>
    <a class="btn btn-primary btn-lg">Je trouve mon bloomer</a>
  </div>
</div>

<!-- Exemple de Bloomers -->
<div class="wrapper home" style="background-color: #FFFFFF;">
  <h3>PLUTÔT <span style="color:#FFC400">INCUBATEUR</span>, <span style="color:#FFC400">ACCÉLÉRATEUR</span> OU <span style="color:#FFC400">COWORKING</span> ? </h3> <br>
  <div class="row">

    <!-- card -->
    <div class="col-xs-12">
      <div class="grid">
       <figure class="effect-zoe" style="background-color:#00697F; background-repeat:no-repeat; background-position:center center;">
         <div class="test"> <h3>LA <span> MUTINERIE</span></h3> </div>
         <figcaption>
          <div class="row more-details">
            <div class="col-xs-6" id="category">
              <p> Co-Working </p>
            </div>
            <div class="col-xs-6" id="location">
              <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Paris </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <h2> Mode Retail </h2>
            </div>
            <div class="col-xs-6">
             <p class="icon-links">
              <a href="#"><span class="icon-heart"></span></a>
              <a href="#"><span class="icon-eye"></span></a>
              <a href="#"><span class="icon-paper-clip"></span></a>
            </p>
          </div>
        </div>
      </figcaption>
    </figure>
    <figure class="effect-zoe" style="background-color:#00697F; background-repeat:no-repeat; background-position:center center;">
         <div class="test"> <h3>LA <span> MUTINERIE</span></h3> </div>
         <figcaption>
          <div class="row more-details">
            <div class="col-xs-6" id="category">
              <p> Co-Working </p>
            </div>
            <div class="col-xs-6" id="location">
              <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Paris </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <h2> Mode Retail </h2>
            </div>
            <div class="col-xs-6">
             <p class="icon-links">
              <a href="#"><span class="icon-heart"></span></a>
              <a href="#"><span class="icon-eye"></span></a>
              <a href="#"><span class="icon-paper-clip"></span></a>
            </p>
          </div>
        </div>
      </figcaption>
    </figure>
    <figure class="effect-zoe" style="background-color:#00697F; background-repeat:no-repeat; background-position:center center;">
         <div class="test"> <h3>LA <span> MUTINERIE</span></h3> </div>
         <figcaption>
          <div class="row more-details">
            <div class="col-xs-6" id="category">
              <p> Co-Working </p>
            </div>
            <div class="col-xs-6" id="location">
              <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Paris </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <h2> Mode Retail </h2>
            </div>
            <div class="col-xs-6">
             <p class="icon-links">
              <a href="#"><span class="icon-heart"></span></a>
              <a href="#"><span class="icon-eye"></span></a>
              <a href="#"><span class="icon-paper-clip"></span></a>
            </p>
          </div>
        </div>
      </figcaption>
    </figure>
  </div>
</div>
</div>
</div>

<!--
<div class="wrapper home" style="background-color:#8C8C8C;">
  <h3 style="color:white"> Notre méthodologie </h3> <br>
  <div class="cards-container" id="methodo">
    <div class="col-xs-12 col-sm-4">
      <a href="#" class="share-link bg-email">
        <i class="fa fa-binoculars" aria-hidden="true" style="font-size: 60px"></i>
        <br> <p> Explorer </p>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a href="#" class="share-link bg-email">
        <i class="fa fa-share-alt-square" aria-hidden="true" style="font-size: 60px"></i>
        <br> <p> Partager </p>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a href="#" class="share-link bg-email">
        <i class="fa fa-child" aria-hidden="true" style="font-size: 60px"></i>
        <br> <p> Accompagner </p>
      </a> <br> <br> <br> <br>
    </div>
  </div>
</div>

<div class="wrapper home" style="background-color: #FFFFFF;">
  <h3> L'actu' </h3> <br>
  <div class="cards-container" id="methodo">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('app/assets/images/2.jpg');">
          <p> Trop d'incubés ? </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('app/assets/images/3.jpg');">
          <p> Guide de l'incubation </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('app/assets/images/4.jpg');">
          <p> Incubateur : comment s'y retrouver ? </p>
        </div>
      </div>
    </div>
  </div>
</div>
 -->
