<!-- La bannière -->
<div class="banner">
  <div class="banner-content">
    <h1>B L O O M E R S</h1>
    <p>Votre startup mérite le meilleur</p>
    <a class="btn btn-primary btn-lg">Je trouve mon bloomer</a>
  </div>
</div>

<!-- Exemple de Bloomers -->
<div class="wrapper" style="background-color: #FFFFFF;">
    <div class="row">
      <h1>Partez à la recherche de votre incubateur</h1> <br>
      <div class="col-xs-12 col-sm-4">
          <div class="card" id="bloomer">
            <div>Look Forward Project</div>
            <a class="card-link" href="#" ></a>
          </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card " id="mutinerie">
          <div>La Mutinerie</div>
            <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" id="partners">
          <div>50 Partners</div>
            <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
</div>

<!-- Pourquoi Bloomer -->
<div class="wrapper" style="background-color:#CCCCCC;">
  <div class="cards-container id="methodo"">
    <div class="col-xs-12 col-sm-4">
    <div class="share-links">
      <a href="#" class="share-link bg-facebook">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="#" class="share-link bg-twitter">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#" class="share-link bg-email">
        <i class="fa fa-envelope-o"></i>
      </a>
    </div>
    </div>

<!--
    <div class="row">
      <h1>Notre méthodologie</h1> <br>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-color:#384259">
          <p> Explorer </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-color:#384259">
          <p> Partager </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-color:#384259">
          <p> Conseiller </p>
        </div>
      </div> -->

    </div>
  </div>
</div>

<!-- Bloomer Actualité -->
<div class="wrapper" style="background-color: #FFFFFF;">
  <div class="cards-container" id="methodo">
    <div class="row">
      <h1>Breaking News</h1> <br>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('app/assets/images/2.jpg');">
          <p> Trop d'incubés ? </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('app/assets/images/3.jpg');">
          <p> Guide de l'incubation </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('app/assets/images/4.jpg');">
          <p> Incubateur : comment s'y retrouver ? </p>
        </div>
      </div>

    </div>
  </div>
</div>
