.banner {
  background-image: url('landing2.png');
  text-align: center;
  height: 630px;
  display: flex;
  justify-content: center;
  font-weight: lighter;
  background-attachment: fixed;
  align-items:center;
  // opacity: 0.9;
}

.banner h1 {
  font-size: 45px;
  // text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
  text-decoration: none;
  padding-bottom: 40px;
  line-height:20px;
}

.banner a {
  background-color:white;
  color:#07617D;
  border: 2px solid #07617D;
}

.banner a:hover {
  background-color:white;
  color:#384259;
  border: 2px solid white;
}

.welcome-info {
  display:table;
}

.banner-cards {
  padding-top:50px;
}
.card-banner {
  background-color:#FFFFFF;
  border-radius:3px;
  margin: 0px;
  height: 200px;
  max-height: 200px;
  width: 270px;
  max-width: 270px;
}

.card-title {
  font-size: 16px;
  text-decoration: none;
  color: #FFC400;
  border-bottom: 2px solid #CCCCCC;
  line-height:40px;
  font-weight:bold;
}

.card-description {
  font-size: 14px;
  text-decoration: none;
  color: #616668;
  padding-top:10px;
  line-height:25px;
}

.card-num {
  background-color:#FFFFFF;
  color: #00697F;
  font-size: 15px;
  border-radius:50%;
  top: -20px;
  padding: 7px;
  width: 40px;
  height: 40px;
  position: absolute;
  left:50%;
  font-weight:bold;
}

.card-icon {
  font-size: 15px;
  color: #616668;
  line-height:40px;
}
