.banner {
  background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6)), url('11.jpg');
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: #00697F;
  text-decoration: none;
}
.banner p {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #FFC400;
  text-decoration: none;
}

.banner a {
  background-color:white;
  color:#07617D;
  border: 2px solid #07617D;
}

.banner a:hover {
  background-color:white;
  color:#384259;
  border: 2px solid #FFC400;
}

