.card {
  text-align:center;
  padding: 40px 10px 40px 10px;
}

.card #lookforward {
  background-image:url('3.jpg');
  background-size: cover !important;
  height: 175px;
}

.card #mutinerie {
  background-image:url('4.jpg');
  background-size: cover !important;
  height: 175px;
}


.card #fiftypartners {
  background-image:url('6.jpg');
  background-size: cover !important;
  height: 175px;
}
