.card {
  text-align:center;
  padding: 40px 10px 40px 10px;
  height: 200px;
  background-size: cover !important;
  font-weight:bold;
  font-size: 30px;
  border-radius: 2px;
}

#bloomer.card {
  background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6)), url('1.jpg');
}

#mutinerie.card {
  background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6)), url('3.jpg');
}

#partners.card {
  background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6)), url('2.jpg');
}

