.footer-bloomer {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #FFFFFF;
  transition: all 0.3s ease;
  display:inline;
  height: 75px;
  padding: 0px 30px;
  align-items: center;
  padding: 10px 10px 10px 10px;
}

.footer-bloomer-brand img {
  width: 150px;
  padding-left: 20px;
}

.section-footer{
  display:inline;
  color: #FFC400;
  float: right;
  justify-content: space-between;
  justify-content: space-around;
}
