.wrapper {
  width: 100vw;
  margin-left: 0px;
  color: #8C8C8C;
}

.solution {
  position: relative;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-top: 20px;
  border-radius:3px;
  padding-right:30px;
}

.card-methodo {
  padding: 30px 30px 30px 30px;
}

#methodo-cards {
  padding: 0px 100px 0px 100px;
}

.solution h1 {
  padding-bottom: 15px;
  color: white;
}


.solution .home-image {
  height: 60px;
  opacity: 0;
  position: absolute;
  top: 20px;
  right: 30px;
}

.solution:hover .home-image{
  opacity: 1;
}

.solution ul{
  justify-content: center;
  opacity: 0;
}

.solution:hover ul{
  opacity: 1;
}


#explore {
  background-color:#FFFFFF;
  opacity:0.8;
  background-size: cover;
  background-attachment: fixed;
  padding-right: 40px;
}

#explore:hover {
  background-color: #00697F;
  opacity:0.5;
  transition: 2000;
  color: white;
  background-attachment: fixed;
}

#partage {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('landing4.png');
  background-size: cover;
  background-attachment: fixed;
}
#partage:hover {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6)), url('landing3.png');
  transition: 2000;
  color: white;
  background-attachment: fixed;
}

#guide {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('landing4.png');
  background-size: cover;
  background-attachment: fixed;
}

#guide:hover {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6)), url('landing3.png');
  transition: 2000;
  color: white;
  background-attachment: fixed;
}

#explore .li {
  color: rgba(0,0,0,0)
}

#explore:hover .li {
  color: #FEC300;
}
